<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/create.css" th:href="@{/css/create.css}"/>
    <title>Create</title>
</head>
<body>

<section>
        <form method="POST" th:action="@{/posts/create}" th:object="${post}">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" class="title" th:field="*{title}">

            <label for="body">Text:</label>
            <textarea name="text" id="body" cols="60" rows="25" th:field="*{body}"></textarea>
            <br>

            <button>Post Article</button>
        </form>
</section>

</body>
</html>