<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/layout :: head(#{view.title})"></head>
<body>
<div>
    <header th:replace="fragments/layout :: header"></header>
</div>
<main>
    <div class="album py-5 bg-light" th:object="${post}">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 d-flex justify-content-md-between">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p><strong th:text="#{authorName}">Author:</strong>
                                <small class="text-muted"
                                       th:text="${post.getUser().getFirstName().toUpperCase()}"></small>
                            </p>
                            <div>
                                <p><strong th:text="#{titleName}">Title:</strong>
                                    <span th:text="${post.getTitle().toUpperCase()}"></span>
                                </p>
                            </div>
                            <p><strong th:text="#{postBody}">BODY: </strong>
                                <br><span th:text="${post.getBody()}"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 d-flex justify-content-md-between">
                <div class="col">
                    <br>
                    <div class="album py-5 bg-light">
                        <div>
                            <div class="col" th:each="comment: ${commentList} ">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <p><strong th:text="#{commentAuthor}">COMMENT AUTHOR: </strong>
                                            <span th:text="${comment.getUser().getUsername()}"></span>
                                        </p>
                                        <p><strong th:text="#{commentBody}">COMMENT BODY: </strong>
                                            <span th:text="${comment.getCommentBody()}"></span>
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group m-2">
                                                <button th:text="#{button.deleteComment}" type="button"
                                                        class="btn  btn btn-secondary btn-outline-dark m-2"
                                                        th:onclick="'location.href = \'/posts/' + ${post.id}
                                                     + '/comments/' + ${comment.id} + '/delete\' ;'"
                                                        th:if="${#authentication.getName()} == ${comment.getUser().getUsername()}
                                                        OR ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                                    DELETE COMMENT
                                                </button>
                                                <button th:text="#{button.editComment}" type="button"
                                                        class="btn  btn btn-secondary btn-outline-dark m-2"
                                                        th:onclick="'location.href = \'/posts/' + ${post.id}
                                                     + '/comments/' + ${comment.id} + '/edit\' ;'"
                                                        th:if="${#authentication.getName()} == ${comment.getUser().getUsername()}
                                                        OR ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">EDIT
                                                    COMMENT
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div>
                                    <section sec:authorize="isAuthenticated()">
                                        <form method="POST" th:action="@{/posts/{id}/comments/create(id= ${post.id})}"
                                              th:object="${createComment}">
                                            <h3 th:text="#{writeYourComment}">WRITE YOUR COMMENT</h3>
                                            <textarea name="text" id="body" cols="30" rows="5"
                                                      th:field="*{commentBody}" placeholder="TEXT AREA HERE"></textarea>
                                            <br>
                                            <div class="d-flex justify-content-center">
                                                <button th:text="#{button.saveComment}">SAVE COMMENT</button>
                                            </div>
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div>
    <footer th:replace="fragments/layout :: footer"></footer>
</div>


</body>
</html>
