<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/layout :: head(#{index.title})"></head>

<body style="background-color: #eee;, height:100%;">
<div>

    <header th:replace="fragments/layout :: header"></header>

</div>
<main style="background-color: #eee; height: 100%;">
    <div class="album py-5 bg-light w-100 p-3">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-2">
                <div class="col" th:each="post: ${postList} ">
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <p><strong th:text="#{authorName}">Author:</strong>
                                    <small class="text-muted"
                                           th:text="${post.getUser().getFirstName().toUpperCase()}"></small>
                                </p>
                                <div>
                                    <p><strong th:text="#{titleName}">Title:</strong>
                                        <span th:text="${post.getTitle().toUpperCase()}"></span>
                                    </p>
                                </div>
                                <p><strong th:text="#{postBody}">BODY: </strong>
                                    <br>
                                    <span style="  overflow: hidden;
                                            width: 100%;
                                            height: 100%;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 1;
                                            -webkit-box-orient: vertical;"
                                          th:text="${post.getBody()}">

                                    </span>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group m-2">
                                        <button th:text="#{button.viewPost}" type="button"
                                                th:onclick="'location.href = \'/posts/' + ${post.id} + '/view\';'"
                                                class="btn  btn-sm btn-secondary btn-outline-dark m-1">View post
                                        </button>
                                        <button th:text="#{button.deletePost}" type="button"
                                                class="btn btn-sm btn-secondary btn-outline-dark m-1"
                                                th:onclick="'location.href = \'/posts/' + ${post.id} + '/delete\';'"
                                                th:if="${#authentication.getName()} == ${post.getUser().getUsername()}
                                                        OR ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                            delete post
                                        </button>
                                        <button th:text="#{button.editPost}" type="button"
                                                class="btn  btn-sm btn-secondary btn-outline-dark m-1"
                                                th:onclick="'location.href = \'/posts/' + ${post.id} + '/edit\';'"
                                                th:if="${#authentication.getName()} == ${post.getUser().getUsername()}
                                                        OR ${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                            edit post
                                        </button>
                                    </div>
                                    <p><strong th:text="#{postCreatedAt}">Posted At: </strong>
                                        <br>
                                        <span
                                                th:text="${post.getCreatedAt().toLocalDate()} +
                                        ' ' +${post.getCreatedAt().getHour()} +
                                         ':' +${post.getCreatedAt().getMinute()} +
                                         ':'+ ${post.getCreatedAt().getSecond()}">

                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div>
    <footer th:replace="fragments/layout :: footer"></footer>
</div>


</body>
</html>
